NET "LEDS_OUT<0>" LOC = "U16";
NET "LEDS_OUT<1>" LOC = "V16";
NET "LEDS_OUT<2>" LOC = "U15";
NET "LEDS_OUT<3>" LOC = "V15";
NET "LEDS_OUT<4>" LOC = "M11";
NET "LEDS_OUT<5>" LOC = "N11";
NET "LEDS_OUT<6>" LOC = "R11";
NET "LEDS_OUT<7>" LOC = "T11";

NET "SWITCHES_IN<0>" LOC = "T10";
NET "SWITCHES_IN<1>" LOC = "T9";
NET "SWITCHES_IN<2>" LOC = "V9";
NET "SWITCHES_IN<3>" LOC = "M8";
NET "SWITCHES_IN<4>" LOC = "N8";
NET "SWITCHES_IN<5>" LOC = "U8";
NET "SWITCHES_IN<6>" LOC = "V8";
NET "SWITCHES_IN<7>" LOC = "T5";